body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container label {
    font-size: 14px;
    color: #555;
}

.form-container .btn-login {
    width: 100%;
    background-color: #72cd3b;
    border: none;
    color: white;
}

.form-container .btn-login:hover {
    background-color: #ccc;
}

.form-container .btn-google {
    width: 100%;
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
}

.form-container .btn-google:hover {
    background-color: #f1f1f1;
}

.form-container .link {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.form-container .link a {
    color: #3949ab;
}

.form-container .link a:hover {
    text-decoration: underline;
}

.form-container .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.form-container .footer a {
    color: #3949ab;
}

.form-container .footer a:hover {
    text-decoration: underline;
}

.btn-google {
    background-color: #db4437;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-google i {
    margin-right: 10px;
}